# Ignore temporary files created through editing, compilation, and linking.
*~
*.o
*.a
*.dblite
*.pyc
*.os
*.exe

/vcpkg_installed
*/.ipynb_checkpoints/
apps/cylinder2d/lyz_guo_cylinder2d.cpp
.gitignore
tests/mass transfer function.cpp
